@font-face {
	font-family: 'bethel-icons';
	src:url('bethel-icons/bethel-icons.eot?b2iigi');
	src:url('bethel-icons/bethel-icons.eot?#iefixb2iigi') format('embedded-opentype'),
		url('bethel-icons/bethel-icons.woff?b2iigi') format('woff'),
		url('bethel-icons/bethel-icons.ttf?b2iigi') format('truetype'),
		url('bethel-icons/bethel-icons.svg?b2iigi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Nasty hack to fix rendering problems in Chrome, forcing it to use the SVG version */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'bethel-icons';
		src: url('bethel-icons/bethel-icons.svg?b2iigi#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

/* Icon font created by www.icomoon.io */